<section data-ng-controller="AlugueresController" data-ng-init="find()">
     <div class="page-header">
      <h4>  Aluguer </h4>
        <button class="btn btn-success pull-right" data-ng-click="direct()"><span class="glyphicon glyphicon-plus"></span> Novo Aluguer</button>
    </div>

    <form class="form-inline">
        <div class="form-group">
            <label >Busca</label>
            <input type="text" ng-model="search" class="form-control" placeholder="qualquer texto">
        </div>
    </form>

   <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th ng-click="sort('titulo')">Titulo
                    <span class="glyphicon sort-icon" ng-show="sortKey=='titulo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                 </th>
                <th ng-click="sort('utente')">Utente
                    <span class="glyphicon sort-icon" ng-show="sortKey=='utente'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                <th ng-click="sort('DataEmprestimo')">DataEmprestimo
                    <span class="glyphicon sort-icon" ng-show="sortKey=='DataEmprestimo'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>

                <th ng-click="sort('DataDevolucao')">DataDevolucao
                    <span class="glyphicon sort-icon" ng-show="sortKey=='DataDevolucao'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                </th>
                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="aluguere in alugueres|orderBy:sortKey:reverse|filter:search" >
                <td><a data-ng-href="#!/alugueres/{{aluguere._id}}"> {{aluguere.titulo}} </a></td>
                <td>{{filme.aluguere.titulo}}</td>
                <td>{{utente.aluguere.utente}}</td>
                <td>{{aluguer.DataEmprestimo}}</td>
                <td>{{aluguer.DataDevolucao}}</td>
            </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!alugueres.$resolved || alugueres.length">
    	No Alugueres yet, why don't you <a href="/#!/alugueres/create">create one</a>?
    </div>
</section>
